
NODE_ENV=development
PORT=4200


#  URL de la API de su proyecto en el panel de Supabase
SUPABASE_URL=https://tu-proyecto-id.supabase.co

#  API Key pública para habilitar el cliente de Angular
SUPABASE_ANON_KEY=sb_publishable_ZUD51ic66UDEf9lIli7Phw_5U-bopHB


# Nombre asignado al almacén local del navegador 
INDEXEDDB_NAME=omnidoor_local_db
INDEXEDDB_VERSION=1


DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=Contrasena
DB_HOST=localhost
DB_PORT=Puerto