
NODE_ENV=development
PORT=4200


#  URL de la API de su proyecto en el panel de Supabase
SUPABASE_URL=https://tu-proyecto-id.supabase.co

#  API Key pública para habilitar el cliente de Angular
SUPABASE_ANON_KEY=tu_anon_public_key_aqui


# Nombre asignado al almacén local del navegador 
INDEXEDDB_NAME=omnidoor_local_db
INDEXEDDB_VERSION=1

