# Dependencias y entornos (Sin importar en qué carpeta o subcarpeta estén)
**/node_modules/
**/venv/
**/env/
**/ENV/
**/.angular/
**/dist/
**/build/
**/tmp/
**/out-tsc/
**/*.egg-info/

# Archivos compilados de Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno y configuraciones sensibles/locales
.env
.env.*
**/local_settings.py

# Archivos de Editores e IDEs
.vscode/
.idea/
*.suo
*.sln

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

PruebasIntelliJ